# Database Configuration
DB_NAME=human_resource
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_PORT=5432

# Application Configuration
WWWROOT=http://localhost:8000

APP_LOG=false
# Error handling
APP_DEBUG=true
APP_ENV=development

#production settings
APP_DEBUG=false
APP_ENV=production