.dropdown-toggle {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
    visibility: hidden;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
    &.show {
        opacity: 1;
        transform: translateY(0) scale(1);
        visibility: visible;
    }
}